@font-face {
    font-family: 'Bhavuka';
    src: url('Bhavuka-Regular.woff2') format('woff2'),
        url('Bhavuka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

