<!DOCTYPE html>
<html lang="en">
<head>
    <title>Botanist - Coming Soon</title>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css"
            integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
            integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="bst-page">
    <%= require("./botanist/header.html") %>
    <%= require("./botanist/main.html") %>
    <%= require("./botanist/footer.html") %>
</div>
</body>
</html>
